
/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */

@font-face {
	font-family: 'MetaBlack';
	src: url('MetaWebPro-Black.eot');
	src: url('MetaWebPro-Black.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'MetaBold';
	src: url('MetaWebPro-Bold.eot');
	src: url('MetaWebPro-Bold.woff') format('woff');
	font-weight: bold;
}


html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: #fff;
}
	body {
		color: #282b31;
	}


article {
	display: block;
	left: 0;
	right: 0;
}
	a {
		color: #5084c8;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	
html.js article { display: none; }

html.transitioning {
	overflow: hidden;
}

html.transitioning article {
	position: absolute;
	-moz-transition: top 1s ease-in-out, opacity 1s ease-in-out;
	-webkit-transition: top 1s ease-in-out, opacity 1s ease-in-out;
}


article header {
	position: relative;
	width: 700px;
	margin: 0 auto;
	padding: 2em 0;
}
	article header h1,
	article header h2 {
		font-family: MetaBlack, "Trebuchet MS", sans-serif;
		font-weight: bold;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}
	article header h1 {
		color: #284263;
		font-size: 45px;
	}
	article header h2 {
		color: #5f7087;
		font-size: 24px;
	}
	article header nav {
		position: absolute;
		right: 0;
		top: 1.5em;
	}
		article header nav a {
			position: absolute;
			background: url(back.png) no-repeat 0 0;
			right: 0;
			top: 0;
			width: 34px;
			height: 34px;
			text-indent: -1000em;
		}
			article header nav a strong {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: url(back.png) no-repeat -34px 0;
				opacity: 0;
				-moz-transition: opacity .25s;
			}
			article header nav a:hover strong {
				opacity: 1;
			}

article .content {
	width: 940px;
	margin: 0 auto;
	background: url(divider-top.png) no-repeat center top;
	padding-top: 46px;
}
	article .content form {
		width: 700px;
		margin: 0 auto;
	}
	article .content .intro {
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 21px;
		font-style: italic;
		line-height: 26px;
		color: #6d7581;
	}
		article .content .intro span {
			display: block;
		}
	article .content .fields {
		position: relative;
	}
		article .content .fields > div {
			margin-top: 2em;
		}
		article .content .fields label {
			display: block;
			margin-bottom: .25em;
			font-weight: bold;
		}
	article .content .submit {
		margin-top: 2em;
	}
		article .content .submit a {
			position: relative;
			background: -moz-linear-gradient(-90deg, #84C63C, #489615);
			padding: 7px 14px;
			/*padding-bottom: 10px;*/
			border: 1px solid #3e8012;
			border: 1px solid #489615;
			font-size: 21px;
			color: #fff;
			border-radius: 6px;
			box-shadow: 0 -2px rgba(0, 0, 0, 0) inset,
			            0 0 80px rgba(255,255,255,0) inset,
			            0 1px 4px rgba(0,0,0, .2);
			text-decoration: none;
			-moz-transition: box-shadow .2s;
		}
			article .content .submit a span {
				vertical-align: -3px;
			}
		article .content .submit a:hover {
			box-shadow: 0 -2px rgba(0, 0, 0, 0) inset,
			            0 0 80px rgba(255,255,255,.3) inset,
			            0 1px 4px rgba(0,0,0, .2);
		}
		article .content .submit a:active {
			top: 2px;
		}

		html article .content .submit a { display: none;  }
		html.js article .content .submit a { display: inline-block; }




input[type=text], input[type=url], textarea {
	border: 1px solid #BFD0D8;
	color: #606060;
	color: #5e5f60;
	font-family: inherit;
	font-size: 21px;
	padding: .25em .25em;
	border-radius: .25em;
	box-shadow: 0 1px 2px rgba(0,0,0, .125) inset;
}

textarea {
	line-height: 1.2;
}

input[type=text], input[type=url], textarea {
	background: #f9fcff;
	box-shadow: 0 1px 2px rgba(0,0,0, .125) inset;
}

.privacy {
	margin-top: .5em;
	font-size: 12px;
	color: #5c4b00;
}
	.privacy span {
		background: #ffffdd;
	}
	
	
	
#intro {
	background: url(page-bg.png) repeat-x 0 -100px;
}
	#intro header {
		text-align: center;
		padding: 35px 0;
	}
	#intro .content {
		position: relative;
		padding: 0;
		background: url(divider-top.png) no-repeat center top,
		            url(divider-bottom.png) no-repeat center bottom;
	}
		#intro .content li {
			display: inline;
			font-family: MetaBlack, "Trebuchet MS", sans-serif;
			text-transform: uppercase;
			text-align: center;
			vertical-align: top;
		}
			#intro .content li a {
				position: relative;
				display: inline-block;
				width: 33.3%;
				padding: 2em 0;
				color: #6D7581;
				text-decoration: none;
				-moz-transition: color .25s;
			}
			#intro .content li a:hover {
				color: #5084C8;
			}
				#intro .content li a span {
					position: relative;
					display: block;
					width: 96px;
					height: 96px;
					margin: 0 auto;
					margin-bottom: 1em;
					background: url(type.png) no-repeat 0 0;
				}
				#intro .content li a strong {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url(type.png) no-repeat 0 -100px;
					opacity: 0;
					-moz-transition: opacity .25s;
				}
				#intro .content li a:hover strong {
					opacity: 1;
				}
	#intro aside {
		width: 700px;
		margin: 0 auto;
		margin-top: 2em;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 21px;
		font-style: italic;
		line-height: 28px;
		color: #6d7581;
		text-align: center;
	}
		#intro aside span {
			display: block;
		}
		#intro aside span {
			display: block;
		}


#rate {
	
}
	#rate table {
		margin-top: 2em;
	}
		#rate colgroup.values col {
			width: 80px;
		}
		#rate table thead {
		}
			#rate table thead th {
				padding-bottom: .25em;
				color: #6d7581;
				font-size: 12px;
				text-align: center;
				text-transform: uppercase;
			}
		#rate table tbody {
			font-size: 21px;
		}
			#rate table tbody .help {
				display: inline-block;
				vertical-align: -3px;
				width: 20px;
				height: 20px;
				background: url(help.png) no-repeat 0 0;
				cursor: help;
			}
			#rate table tbody .help:hover {
				background-position: -40px 0;
			}
			#rate table tbody tr:nth-child(2n) {
				background: #F9FCFF;
			}
			#rate table tbody :-moz-any(td, th) {
				padding-top: .375em;
				padding-bottom: .375em;
				border-bottom: 1px dotted #BFD0D8;
				vertical-align: middle;
			}
			#rate table tbody tr:first-child :-moz-any(td, th) {
				border-top: 1px dotted #BFD0D8;
			}
			#rate table tbody th {
				padding-right: 80px;
			}
			#rate table tbody td {
				text-align: center;
			}
			#rate table tbody td span {
				position: relative;
				display: block;
				width: 40px;
				height: 40px;
				margin: 0 auto;
				background-image: url(ratings.png);
				background-repeat: no-repeat 0 0;
				overflow: hidden;
			}
			#rate table tbody td input {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 0 !important;
				padding: 0 !important;
				opacity: 0;
				cursor: pointer;
			}
		
			#rate table .a1 { background-position: 0px 0; }
			#rate table .a2 { background-position: -50px 0; }
			#rate table .a3 { background-position: -100px 0; }
			#rate table .a4 { background-position: -150px 0; }
			#rate table .a5 { background-position: -200px 0; }
		
			#rate table .a1:hover { background-position: 0px -50px; }
			#rate table .a2:hover { background-position: -50px -50px; }
			#rate table .a3:hover { background-position: -100px -50px; }
			#rate table .a4:hover { background-position: -150px -50px; }
			#rate table .a5:hover { background-position: -200px -50px; }
		
			#rate table .a1.checked { background-position: 0px -100px; }
			#rate table .a2.checked { background-position: -50px -100px; }
			#rate table .a3.checked { background-position: -100px -100px; }
			#rate table .a4.checked { background-position: -150px -100px; }
			#rate table .a5.checked { background-position: -200px -100px; }
		
		
#broken {
}
	#broken-url {
		width: 55ex;
	}
	#broken-desc {
		width: 60ex;
		height: 4em;
	}
	#broken-desc:-moz-placeholder {
		color: #aeafaf;
	}

	
#idea {
}
	#idea-desc {
		width: 60ex;
		height: 6em;
	}


#thanks {	
}
	#thanks h1 {
		color: #345634;
	}
	#thanks div {
		margin-bottom: 2em;
	}
		#thanks h3 {
			margin-bottom: .25em;
			margin-bottom: .375em;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 18px;
			font-style: italic;
			color: #6d7581;
		}
		#thanks :-moz-any(ul, p) {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 24px;
			font-style: italic;
			color: #284263;
			letter-spacing: -0.02em;
		}
			#thanks :-moz-any(ul, p) a {
				font-family: MetaBold, "Trebuchet MS", sans-serif;
				font-weight: bold;
				font-style: normal;
				color: inherit;
				text-transform: uppercase;
			}
			#thanks :-moz-any(ul, p) a:hover {
				color: #5084C8;
			}
		#thanks ul {
			margin-top: .375em;
		}
		#thanks li {
			display: inline;
		}
			#thanks li a {
				text-decoration: none;
			}
				#thanks li a:hover span {
					text-decoration: underline;
				}
			#thanks li a:before {
				content: " ";
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: .25em;
				background: url(sharing.png) no-repeat 0 0;
				text-decoration: none;
			}
			#thanks li a:after {
				content: "\2215";
				color: #b0b5bc;
				color: #e0e0e0;
				margin: 0 .5em;
				text-decoration: none;
			}
			#thanks li:last-child a:after {
				display: none;
			}
			
			#thanks li #twitter:before { background-position: 0 0; width: 29px; }
			#thanks li #facebook:before { background-position: -40px 0; }
			#thanks li #planet:before { background-position: -80px 0; }

			#thanks li #twitter:hover:before { background-position: 0 -40px; }
			#thanks li #facebook:hover:before { background-position: -40px -40px; }
			#thanks li #planet:hover:before { background-position: -80px -40px; }

